:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --primary: #458d52;
    --gray: #333;
    --primary-dark: #367a48;
    --primary-light: #58b166;
    --primary-background: #edffee;
}

body {
    margin: 0;
    padding: 0;
}
